.container {
    display: flex;
}
.container {
    width: 80%;
    box-shadow: 1px 2px 17px 1px gray;
    position: absolute;
    left: 130px;
}
.container .img {
    margin: 10px 200px;
}
.img_1,
.img_2,
.img_3 {
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid white;
}
.img_2 {
    left: -14%;
}
.img_3 {
    left: -25%;
}
div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img_4 {
    height: 180px;
    width: 180px;
    border: 1px solid black;
    display: inline-flex;
    /* Use flex instead of inline-block */
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-image: url(istockphoto-512907864-612x612.jpg);
    position: relative;
    top: -80px;
    left: -35%;
}