*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column  ;
}
.cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: auto;
    height: 100vh;
    background-color:rgb(11, 71, 101) ;
    color: white;
}

#count {
 display: flex;
    justify-content: center;
  gap: 10px;
  
}