body {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(25px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0;
}

div {
    width: 18rem;
    height: auto;
    border: 1px solid rgba(96, 173, 180, 0.30);
    border-radius: 20px;
    overflow: hidden;
    transition: all 300ms;
}

div a {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    display: block;
}

div a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div:hover {
    transform: scale(1.13);
}

.desc {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: rgb(33, 33, 33);
}

header {
    width: 86%;
    text-align: center;
    font-weight: bold;
    background-color: rgba(96, 173, 180, 0.30);
    border-radius: 20px;
}