* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cover {
    width: 60%;
    padding: 20px;
    border-radius: 25px;
    margin-top: 2%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}