*{
    margin: 0;
    padding: 0px;
    
}

body{
    background-color:rgb(19, 15, 15);
    
}

a{
    color: white;
    text-decoration: none;
    
}
.nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.nav-bar .Logo{
    font-weight: 700;
    font-size: 26px;

}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li{
    list-style-type: none;
    margin-left: 20px;
}
.nav-bar ul li a{
    font-weight: 500;
    font-size: 20px;
    transition: .6s;
}
.nav-bar ul li:hover a
 {
    color: #7cf03d;
}
.nav-bar ul li.active a {
    color: #7cf03d;
}
.home_info{
    width: 70%;;
}
.main_content{
    margin-top: 10%;
    padding: 30px 9%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;

    
}
.main_content h1{
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding: 0px;
    color: white;
    margin-top: 10px;
}
.main_content h2{
    color: white;
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
}
.btn .socialbtn{
    margin-left: 10px;
    background-color: green;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 10px;
}
.download{
    background-color: green;
    padding: 10px 30px;
    border-radius: 20px;

}
.btn a:hover{
    background-color: transparent;
    border: 1px solid green;
    box-shadow: 0px 0px 10px green;
}
.main_content .img{
     padding: 10px;
     background-color: green;
     border-radius: 50%;
}
.main_content .img .frame{
    background-color: red;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
       object-fit: cover;
      
}
.main_content .img .frame img{
    width: 100%;
    height: 100%;
    
 
}