        body{
            background-color: black;
            height: 100vh;
        }
        .loader{
            position: relative;
            left: 0;
            top: 0;
            height: 300px;
            width: 300px;
            margin: 100px auto  ;
            display:flex ;
            align-items: center;
            justify-content: center;
        }
        .loader span:nth-child(1){
            border-radius: 35% 65% 43% 57% / 38% 51% 49% 62%;
        }
        .loader span:nth-child(2){
            animation-direction: reverse;
            border-radius: 31% 69% 43% 57% / 40% 72% 28% 60%;
        }
         .loader span:nth-child(3){
            animation-duration: 2s;
            border-radius: 35% 65% 49% 40% / 73% 23% 77% 27%;
        }
       .loader h1{
        position: relative;
        color: aliceblue;
       }
        .loader span{
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            width: 300px;
            /* background-color: rgb(5, 139, 206) ; */
            border: 2px solid white;
            animation:load 3s linear infinite;
            pointer-events: none;
        }

        @keyframes load {
            0%{
            transform: rotate(0deg);
            }
              100%{
            transform: rotate(360deg);
            }
        }