
#continer{
    display: flex;
    justify-content: center;
}




#cover{
    height: 100%;
    width: 100px;
       display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgb(173, 150, 195);
   
    padding: 20px;
}