* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: -webkit-linear-gradient(left, #34d6e8, #0f3443);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    color: white;
}
h1 {
    line-height: 60px;
}
