body {
    background-color: #f3f3f3;
}

.form {
    width: 40%;
    /* border: 1px solid black; */
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 10vh;
}

.form .cover_input {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto;
    position: relative;
}


.form .cover_input input,
textarea,
select {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 10px 1px rgba(128, 128, 128, 0.38);
    transition: 250ms all;
}

.form .cover_input input:hover {
    box-shadow: none;
}

.form .cover_input label {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(184, 184, 184);
    transition: all 250ms;
}


.input:focus~label,
.input:not(:placeholder-shown).input:not(:focus)~label {
    top: -8px;
    font-size: 12px;
    left: 10px;
    background-color: white;
    color: black;
    padding: 2px 5px;
    border-radius: 10px;
}

.cover_input_file {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_input_file .cover_image {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 50%;
}

.cover_input_file .cover_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col2 {
    grid-column-start: 1;
    grid-column-end: 3;
}