body {
    background-color: #f3f3f3;
}

.cover {
    border: 1px solid green;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    justify-content: space-between;

}

.cover div {
    background-color: goldenrod;
    padding: 10px;
}

.cover div:first-child {
    background-color: antiquewhite;
    grid-column: 1 / span 3;
}

.cover div:last-child {

    grid-column: 1 / span 3;

    grid-row-start: 5;
    grid-row-end: 6;
}