.cover{
     
    height:90vh;
    padding: 20px;
    margin: 100px 400px;
}
.heading{
    line-height:1px;
}
.heading2{
    line-height:1px;
}
.logo{
    border: 1px solid lightgray;
    border-radius: 8px;
    width:200px;
    padding: 20px 10px;
    text-align: center;
    float: right;
    margin-top: -190px;
    font-size: larger;
    color: lightgrey;    
}

.table_1{
   float:right;
   border: none;
   margin-top: -50px;
   }
.table_1 tr, .table_1 td{
    border: none;
}
.table_1 tr td:first-child{
    color: brown;
}

.table_2{
    margin-top:  100px;   
    width: 100%;
}

.table_2a tr th ,td{
    border: 1px solid lightgray;
  
}

.table_2a{
    border-collapse: collapse;
}

.table_2a tr td{
    text-align: right;
}
.table_2a th{
background-color: brown;
color: white;
}

.table3{
    float: right;
    margin-top: 10px;
  
    border-collapse: collapse;
}
.table3 tr td{
    border: 1px solid lightgrey;
     
}

.table3_1{
    border-collapse: collapse;
}

.table3_1 tr:last-child{
    background-color: #ac5959;
}

.signatur{
 line-height: 20px;
 margin-top: 100px;
}

