body {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 3px;
}

header,
footer,
aside,
main {
    box-shadow: 1px 2px 10px 1px gray;
    padding: 30px;
}

header,
footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rosybrown;
    color: white;
}

aside {
    height: 77vh;
    overflow-y: scroll;
}

aside,
header {
    position: sticky;
    top: 0;
}

aside {
    top: 15vh;
}

footer {
    z-index: 300;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    transition: 200ms all;
    padding: 4%px;
}

li:hover {
    transform: scale(1.2);
    box-shadow: 2px 1px 10px 1px gray;
    border-radius: 5px;
}

iframe {
    border-radius: 50px;
}

video {
    border-radius: 50px;
    height: 400px;
    width: 1260px;
    object-fit: cover;
}