body {
    background-color: #f3f3f3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#cover {
    background-color: white;
    box-shadow: 0 0 20px gray;
    width: 60%;
    height: auto;
    border-radius: 30px;
    padding: 20px;
}

#room_num {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_num_desgin {
    border: none;
    box-shadow: 0 0 10px gray;
    padding: 8px 40px;
    border-radius: 20px;
    margin: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* table tr:nth-child(even) {
    background-color: #354259;
} */

table tr {
    transition: 250ms all;
    color: rgb(174, 174, 174);
}

table tr:hover {
    background-color: #9AA6B2;
    color: black;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BCCCDC;
    color: white;
}

td img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

td img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    background-color: #9AA6B2;
    color: white;
    animation-name: test;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes test {
    form {
        outline-offset: 1px solid black;
    }

    to {
        outline-offset: 4px solid black;
    }
}

.root {
    background-color: #BCCCDC;
}