* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.main_container {
    width: 80%;
    height: auto;
    margin: 10% auto;
    text-align: center;
}

.main_container h1,
p,
ul {
    margin: 2%;
}

.nav_bar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.nav_bar ul li {
    background-color: #d9e3fc;
    color: #450279;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.nav_bar ul li::after,
.nav_bar ul li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
    border-radius: 20px;
}

.nav_bar ul li::before {
    top: -5px;
    transform-origin: left;
}

.nav_bar ul li:hover::after,
.nav_bar ul li:hover::before {
    transform: scaleX(1);
}

.photo_1 {
    width: 90%;
    height: 60vh;
    margin: auto;
    border-radius: 20px;
    background-image: url(p1.png), linear-gradient(to top left, black, black, black, #450279);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 60vh, cover;
}

.inside_photo_1 {
    color: white;
    width: 50%;
    text-align: left;
    padding-top: 15%;
    padding-left: 50px;
}

.inside_photo_1 h1,
.inside_photo_1 p {
    margin: 20px 0 0 0;
}

.inside_photo_1 h4 {
    background-color: rgb(56, 29, 146);
    color: rgb(154, 134, 221);
    width: 200px;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
}

.inside_photo_1 a {
    text-decoration: none;
    color: #8103ff;
    line-height: 80px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .main_container {
        width: 100%;
    }

    .photo_1 {
        background-position: bottom cover;
        background-size: 80% 60vh, cover;
        height: 100vh;
        padding: 30px 20px;
        text-align: center;
    }

    .inside_photo_1 {
        text-align: center;
        padding: 0;
    }

    .inside_photo_1 h4,
    .inside_photo_1 h1,
    .inside_photo_1 p,
    .inside_photo_1 a {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .inside_photo_1 h1 {
        font-size: 22px;
    }

    .inside_photo_1 p {
        font-size: 16px;
    }

    .inside_photo_1 h4 {
        font-size: 12px;
    }

    .nav_bar ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav_bar ul li {
        width: 94%;
        text-align: center;
    }
}